<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619331024655-6aka3n7aajthc2iash02m0bri5186agm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619331024655-6aka3n7aajthc2iash02m0bri5186agm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_h_6PZp6FE-VOIAKcdj7J0NJZR76pEjw</string>
	<key>GCM_SENDER_ID</key>
	<string>619331024655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.BetterSoloLearn</string>
	<key>PROJECT_ID</key>
	<string>bettersololearn</string>
	<key>STORAGE_BUCKET</key>
	<string>bettersololearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619331024655:ios:1ab1a68761cafc1bd9b07a</string>
</dict>
</plist>